@use './variables' as *;
@use './mixins' as *;

// css resets

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  color: hsla(0, 0%, 90%, 1);
}

body {
  font-family: "Darker Grotesque", sans-serif;
  background-image: linear-gradient(hsla(0, 0%, 0%, 0.5), hsla(0, 0%, 0%, 0.2)),
    url(resources/images/jack-b-RWDUvWHobTw-unsplash.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  height: 90rem;
  display: flex;
  align-items: center;
  justify-content: center;

  @include tablet-mobile-adjust {
    height: 165rem;
  }

  @include mobile {
    height: 265rem;
  }
}

main {
  background-color: $bg;
  border-radius: 1.4rem;
  height: 75rem;
  width: 80vw;

  @include tablet {
    & {
      height: 80rem;
    }
  }

  @include tablet-mobile-adjust {
    height: 150rem;
  }

  @include mobile {
    height: 249rem;
  }
}
