@use './variables' as *;

@mixin zodiac-bg($url) {
  background-image: url($url);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 12rem;
  width: 12rem;
}

@mixin zodiac-hover($url) {
  background-image: linear-gradient($dark-overlay, $dark-overlay), url($url);
}

@mixin tablet-desktop-adjust {
  @media only screen and (max-width: 850px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: 738px) {
    @content;
  }
}

@mixin tablet-mobile-adjust {
  @media only screen and (max-width: 587px) {
    @content;
  }
}
