@use './partials/base' as *;
@use './partials/mixins' as *;
@use './partials/variables' as *;

.main {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__header {
    font-size: 10rem;
    font-weight: 300;
    background: linear-gradient($white, $gold);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__item-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: auto;
    margin-bottom: 5rem;
  }

  &__zodiac-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5rem 5rem 5rem 5rem;
    height: 100%;
  }

  &--hover:hover {
    border-radius: 51%;
    box-sizing: initial;
    box-shadow: 0 0 3rem 0.5rem $bright-gold;
    cursor: pointer;
  }

  &__aries {
    @include zodiac-bg("./resources/images/aries.png");

    &--hover:hover {
      @include zodiac-hover("./resources/images/aries.png");
    }
  }

  &__taurus {
    @include zodiac-bg("./resources/images/taurus.png");

    &--hover:hover {
      @include zodiac-hover("./resources/images/taurus.png");
    }
  }

  &__gemini {
    @include zodiac-bg("./resources/images/gemini.png");

    &--hover:hover {
      @include zodiac-hover("./resources/images/gemini.png");
    }
  }

  &__cancer {
    @include zodiac-bg("./resources/images/cancer.png");

    &--hover:hover {
      @include zodiac-hover("./resources/images/cancer.png");
    }
  }

  &__leo {
    @include zodiac-bg("./resources/images/leo.png");

    &--hover:hover {
      @include zodiac-hover("./resources/images/leo.png");
    }
  }

  &__virgo {
    @include zodiac-bg("./resources/images/virgo.png");

    &--hover:hover {
      @include zodiac-hover("./resources/images/virgo.png");
    }
  }

  &__libra {
    @include zodiac-bg("./resources/images/libra.png");

    &--hover:hover {
      @include zodiac-hover("./resources/images/libra.png");
    }
  }

  &__scorpio {
    @include zodiac-bg("./resources/images/scorpio.png");

    &--hover:hover {
      @include zodiac-hover("./resources/images/scorpio.png");
    }
  }

  &__sagittarius {
    @include zodiac-bg("./resources/images/sagittarius.png");

    &--hover:hover {
      @include zodiac-hover("./resources/images/sagittarius.png");
    }
  }

  &__capricorn {
    @include zodiac-bg("./resources/images/capricorn.png");

    &--hover:hover {
      @include zodiac-hover("./resources/images/capricorn.png");
    }
  }

  &__aquarius {
    @include zodiac-bg("./resources/images/aquarius.png");

    &--hover:hover {
      @include zodiac-hover("./resources/images/aquarius.png");
    }
  }

  &__pisces {
    @include zodiac-bg("./resources/images/pisces.png");

    &--hover:hover {
      @include zodiac-hover("./resources/images/pisces.png");
    }
  }

  @include tablet-desktop-adjust {
    &__header {
      font-size: 8rem;
    }

    &__zodiac-list {
      justify-content: space-evenly;
      align-items: center;
    }

    &__aries,
    &__taurus,
    &__gemini,
    &__cancer,
    &__leo,
    &__virgo,
    &__libra,
    &__scorpio,
    &__sagittarius,
    &__capricorn,
    &__aquarius,
    &__pisces {
      width: 10rem;
      height: 10rem;
    }
  }

  @include tablet {
    &__item-container {
      width: 30%;
    }

    &__header {
      font-size: 6rem;

      &-container {
        padding-top: 2.5rem;
      }
    }
  }
}
