* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  color: #e6e6e6;
}

body {
  font-family: "Darker Grotesque", sans-serif;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url(resources/images/jack-b-RWDUvWHobTw-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 90rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 587px) {
  body {
    height: 165rem;
  }
}
@media only screen and (max-width: 473px) {
  body {
    height: 265rem;
  }
}

main {
  background-color: rgba(45, 38, 64, 0.7);
  border-radius: 1.4rem;
  height: 75rem;
  width: 80vw;
}
@media only screen and (max-width: 738px) {
  main {
    height: 80rem;
  }
}
@media only screen and (max-width: 587px) {
  main {
    height: 150rem;
  }
}
@media only screen and (max-width: 473px) {
  main {
    height: 249rem;
  }
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 0.6s ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.6s ease-in-out;
  background-color: #473d66;
  height: 35rem;
  width: 47rem;
  padding: 3rem 5rem;
  border-radius: 2rem;
  z-index: 100;
}
.main__modal.active {
  transform: translate(-50%, -50%) scale(1);
}
.main__modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 3.4rem;
  background: linear-gradient(white, rgba(241, 200, 65, 0.5));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main__modal-header i {
  cursor: pointer;
}
.main__modal h3 {
  padding: 1rem 0;
  font-size: 2.4rem;
}
.main__modal-body {
  font-size: 1.4rem;
}
.main__horoscope {
  margin-bottom: 1rem;
}
.main__compatibility {
  margin-bottom: 1rem;
}
.main__compatibility span {
  font-weight: bold;
}
.main__lucky span {
  font-weight: bold;
}
.main__header {
  font-size: 10rem;
  font-weight: 300;
  background: linear-gradient(white, rgba(241, 200, 65, 0.5));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main__heading-container {
  display: flex;
  flex-direction: column;
}
.main__heading-container p {
  display: flex;
  justify-self: center;
  align-self: center;
  padding-top: 1rem;
  font-size: 2rem;
  color: #b3b3b3;
}
.main__item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: auto;
  margin-bottom: 3rem;
}
.main__zodiac-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 5rem 5rem 5rem;
  height: 100%;
}
.main--hover:hover {
  border-radius: 51%;
  box-sizing: initial;
  box-shadow: 0 0 3rem 0.5rem rgba(255, 217, 0, 0.5);
  cursor: pointer;
}
.main__aries {
  background-image: url("./resources/images/aries.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 12rem;
  width: 12rem;
}
.main__aries--hover:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("./resources/images/aries.png");
}
.main__taurus {
  background-image: url("./resources/images/taurus.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 12rem;
  width: 12rem;
}
.main__taurus--hover:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("./resources/images/taurus.png");
}
.main__gemini {
  background-image: url("./resources/images/gemini.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 12rem;
  width: 12rem;
}
.main__gemini--hover:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("./resources/images/gemini.png");
}
.main__cancer {
  background-image: url("./resources/images/cancer.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 12rem;
  width: 12rem;
}
.main__cancer--hover:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("./resources/images/cancer.png");
}
.main__leo {
  background-image: url("./resources/images/leo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 12rem;
  width: 12rem;
}
.main__leo--hover:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("./resources/images/leo.png");
}
.main__virgo {
  background-image: url("./resources/images/virgo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 12rem;
  width: 12rem;
}
.main__virgo--hover:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("./resources/images/virgo.png");
}
.main__libra {
  background-image: url("./resources/images/libra.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 12rem;
  width: 12rem;
}
.main__libra--hover:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("./resources/images/libra.png");
}
.main__scorpio {
  background-image: url("./resources/images/scorpio.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 12rem;
  width: 12rem;
}
.main__scorpio--hover:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("./resources/images/scorpio.png");
}
.main__sagittarius {
  background-image: url("./resources/images/sagittarius.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 12rem;
  width: 12rem;
}
.main__sagittarius--hover:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("./resources/images/sagittarius.png");
}
.main__capricorn {
  background-image: url("./resources/images/capricorn.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 12rem;
  width: 12rem;
}
.main__capricorn--hover:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("./resources/images/capricorn.png");
}
.main__aquarius {
  background-image: url("./resources/images/aquarius.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 12rem;
  width: 12rem;
}
.main__aquarius--hover:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("./resources/images/aquarius.png");
}
.main__pisces {
  background-image: url("./resources/images/pisces.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 12rem;
  width: 12rem;
}
.main__pisces--hover:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("./resources/images/pisces.png");
}
@media only screen and (max-width: 850px) {
  .main__header {
    font-size: 8rem;
  }
  .main__zodiac-list {
    justify-content: space-evenly;
    align-items: center;
  }
  .main__aries, .main__taurus, .main__gemini, .main__cancer, .main__leo, .main__virgo, .main__libra, .main__scorpio, .main__sagittarius, .main__capricorn, .main__aquarius, .main__pisces {
    width: 10rem;
    height: 10rem;
  }
}
@media only screen and (max-width: 738px) {
  .main__item-container {
    width: 30%;
  }
  .main__header {
    font-size: 6rem;
  }
  .main__header-container {
    padding-top: 2.5rem;
  }
}
@media only screen and (max-width: 587px) {
  .main__item-container {
    width: 50%;
  }
  .main__aries, .main__taurus, .main__gemini, .main__cancer, .main__leo, .main__virgo, .main__libra, .main__scorpio, .main__sagittarius, .main__capricorn, .main__aquarius, .main__pisces {
    width: 12rem;
    height: 12rem;
  }
}
@media only screen and (max-width: 473px) {
  .main__header {
    font-size: 4.5rem;
  }
  .main__item-container {
    width: 100%;
  }
  .main__aries, .main__taurus, .main__gemini, .main__cancer, .main__leo, .main__virgo, .main__libra, .main__scorpio, .main__sagittarius, .main__capricorn, .main__aquarius, .main__pisces {
    width: 13rem;
    height: 13rem;
  }
}